/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

/* Global Variables*/
:root {
    /* Magic Mint */
    /* Dodger Blue */
    /* Deep Space Sparkle */
    /* Mikado Yellow */
    /* Rose Madder */
    /*Header Font*/
    /*Main Font*/
}

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
}

.app-body {
    background-color: #B2EDC5;
}

.page-header {
    background-color: #1E96FC;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 30px;
    border-radius: 30px;
}

.page-header__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100px;
            flex: 0 1 100px;
    min-width: 0;
}

.page-header__item:last-child {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    font-family: 'Varela Round', sans-serif;
    color: white;
}

.logo {
    padding:20px;
    max-height: 100px;
    width: 100%;  
}

.loading {
    display: none;
    position: absolute;
    top: 0;
    left: 50%;
}

.loading.show {
    display: block;
}

.loading > p {
    position: relative;
    left: -50%;
    background-color: #FFC600;
    color: #466365;
    margin: 0;
    padding: 8px 16px;
    border-radius: 0 0 3px 3px;
  }

.pokemon-grid__item {
    display: inline-block;
    width: 33.33%;
}

.pokemon-grid__item:first-letter {
    display: inline-block;
    width: 20%;
    text-transform: capitalize;
}

@supports (display: grid) {

    .pokemon-grid {
        list-style: none;
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: auto 15px auto 15px auto 15px auto 15px auto;
        grid-template-columns: auto auto auto auto auto;
        margin-right: 40px;
        grid-gap: 15px;
    }

    .pokemon-grid__item {
        border-radius: 10px;
        color: #466365;
        background-color: #FFC600;
        font-family: 'Montserrat', sans-serif;
        font-size: medium;
        font-weight: 700;
        text-align: center;
        width: 100%;
        height: 50px;
        
    }
}

@media all and (max-width: 1000px) {
    
    .pokemon-grid {
        -ms-grid-columns: 1fr 15px 1fr 15px 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 15px;
    }
}

@media all and (max-width: 500px) {
    
    .pokemon-grid {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-gap: 15px;
    }
}

#modal-container {
    position: fixed;
    padding: 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999; 
    overflow: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

#modal-container {
    display: none;
}
  
#modal-container.is-visible {
    display: block;
}

.modal {
    margin: auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background: white;
    margin-top: 75px;
    padding: 20px;
    max-width: 300px;
    border-radius: 20px;
}
  
.modal-close {
    -ms-grid-row: 1;
        grid-row-start: 1;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    border: 0;
    background: none;
    color: #DF2935;
    text-decoration: underline;
    -ms-grid-column-align: right;
        justify-self: right;
}

.modal-close:hover {
    opacity: 60%;
}

.modal img {
    -ms-grid-row: 2;
        grid-row-start: 2;
    max-height: 200px;
    -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: center;
        justify-self: center;
}
  
.modal h1 {
    -ms-grid-row: 3;
        grid-row-start: 3;
    margin-top: 0;
    font-family: 'Varela Round', sans-serif;
    color: #466365;
    -ms-grid-column-align:center;
        justify-self:center;
    -ms-grid-row-align: center;
        align-self: center;
    text-transform: capitalize;
}
  
.modal p {
    font-family: 'Montserrat', sans-serif;
    color: #466365;
}

.pokemon-types {
    -ms-grid-row: 4;
        grid-row-start: 4;
    text-transform: capitalize;
    -ms-grid-column-align: center;
        justify-self: center;
}

.pokemon-stats {
    -ms-grid-row: 5;
        grid-row-start: 5;
    -ms-grid-column-align: left;
        justify-self: left;
    margin-left: 15px;
}
