/* Global Variables*/
:root {
    /* Magic Mint */
    --mint: #B2EDC5;
    /* Dodger Blue */
    --blue: #1E96FC;
    /* Deep Space Sparkle */
    --darkblue: #466365;
    /* Mikado Yellow */
    --yellow: #FFC600;
    /* Rose Madder */
    --red: #DF2935;
    /*Header Font*/
    --header-font: 'Varela Round', sans-serif;
    /*Main Font*/
    --main-font: 'Montserrat', sans-serif;
}

* {
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
}

.app-body {
    background-color: var(--mint);
}

.page-header {
    background-color: var(--blue);
    display: flex;
    flex-direction: row;
    margin: 30px;
    border-radius: 30px;
}

.page-header__item {
    flex: 0 1 100px;
    min-width: 0;
}

.page-header__item:last-child {
    flex: 0 1 auto;
    font-family: var(--header-font);
    color: white;
}

.logo {
    padding:20px;
    max-height: 100px;
    width: 100%;  
}

.loading {
    display: none;
    position: absolute;
    top: 0;
    left: 50%;
}

.loading.show {
    display: block;
}

.loading > p {
    position: relative;
    left: -50%;
    background-color: var(--yellow);
    color: var(--darkblue);
    margin: 0;
    padding: 8px 16px;
    border-radius: 0 0 3px 3px;
  }

.pokemon-grid__item {
    display: inline-block;
    width: 33.33%;
}

.pokemon-grid__item:first-letter {
    display: inline-block;
    width: 20%;
    text-transform: capitalize;
}

@supports (display: grid) {

    .pokemon-grid {
        list-style: none;
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        margin-right: 40px;
        grid-gap: 15px;
    }

    .pokemon-grid__item {
        border-radius: 10px;
        color: var(--darkblue);
        background-color: var(--yellow);
        font-family: var(--main-font);
        font-size: medium;
        font-weight: 700;
        text-align: center;
        width: 100%;
        height: 50px;
        
    }
}

@media all and (max-width: 1000px) {
    
    .pokemon-grid {
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 15px;
    }
}

@media all and (max-width: 500px) {
    
    .pokemon-grid {
        grid-template-columns: 1fr;
        grid-gap: 15px;
    }
}

#modal-container {
    position: fixed;
    padding: 20px;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999; 
    overflow: auto;
    display: flex;
}

#modal-container {
    display: none;
}
  
#modal-container.is-visible {
    display: block;
}

.modal {
    margin: auto;
    display: grid;
    grid-template-rows: auto auto auto auto auto;
    box-sizing: border-box;
    background: white;
    margin-top: 75px;
    padding: 20px;
    max-width: 300px;
    border-radius: 20px;
}
  
.modal-close {
    grid-row-start: 1;
    font-family: var(--main-font);
    font-weight: 700;
    border: 0;
    background: none;
    color: var(--red);
    text-decoration: underline;
    justify-self: right;
}

.modal-close:hover {
    opacity: 60%;
}

.modal img {
    grid-row-start: 2;
    max-height: 200px;
    align-self: center;
    justify-self: center;
}
  
.modal h1 {
    grid-row-start: 3;
    margin-top: 0;
    font-family: var(--header-font);
    color: var(--darkblue);
    justify-self:center;
    align-self: center;
    text-transform: capitalize;
}
  
.modal p {
    font-family: var(--main-font);
    color: var(--darkblue);
}

.pokemon-types {
    grid-row-start: 4;
    text-transform: capitalize;
    justify-self: center;
}

.pokemon-stats {
    grid-row-start: 5;
    justify-self: left;
    margin-left: 15px;
}
