/* Global Variables*/
:root {
    --mint: #B8DBD9;
    --orange: #D95D39;
    --darkblue: #2E5077;
    --yellow: #F5CB5C;
    --red: #881600;
    --header-font: 'Varela Round', sans-serif;
    --main-font: 'Montserrat', sans-serif;
}

* {
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
}

.app-body {
    background-color: var(--red);
}

.page-header {
    display: flex;
    flex-direction: row;
    margin: 30px;
    border-radius: 30px;
    background-color: var(--darkblue);
}

.page-header__item {
    flex: 0 1 100px;
    min-width: 0;
}

.page-header__item:last-child {
    padding-top: 25px;
    font-family: var(--header-font);
    color: white;
}

.logo {
    width: 100%;
    max-height: 100px;
    padding: 20px;  
}

.loading {
    display: none;
    position: absolute;
    top: 0;
    left: 50%;
}

.loading.show {
    display: block;
}

.loading > p {
    position: relative;
    left: -50%;
    margin: 0;
    padding: 8px 16px;
    border-radius: 0 0 3px 3px;
    background-color: white;
    color: var(--red);
    font-weight: 700;
}

.btn {
    color: var(--darkblue);
    background-color: white;
    border-color: var(--yellow);
    font-family: var(--main-font);
    font-size: medium;
    font-weight: 700;
    text-transform: capitalize;
    min-width: 150px;
}

.btn:hover {
    background-color: var(--yellow);
    border-color: var(--yellow);
}

.modal-header {
    border-bottom: 0 none;
}

.modal-sm {
    border-radius: 15px;
}

.list-group-item {
    background-color: var(--mint);
    border: none;
    border-radius: 0px;
}

h1 {
    text-transform: capitalize;
}

.pokemon-types {
    text-transform: capitalize;
    justify-self: center;
    margin-left: 15px;
}

.pokemon-stats {
    margin-left: 15px;
    justify-self: left;
}
